@use '../../styles/partial/mixins' as *;

.board{
      border: 1rem solid #694A38;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      width: 22rem;
      height: 22rem;
      margin: 1rem;
      
      @include tablet{
            border-radius: 10px;
      }
}