@use '../../styles/partial/mixins' as *;

.inventory{
      background-color: #947878;
      padding: 2rem;
      margin: 0 auto;
      
      &__title{
            text-align: center;
      }

      @include tablet{
            width: 40%;
      }
}
 