@use './partial/fonts' as *;
@use './partial/variables';

.main{
      display: flex;
      width: 100%;
}

/* reset */

body{
      margin: 0;
}

*, *::before, *::after{
      font-family:  Pixeled;
      box-sizing: border-box;
}