.header{
      display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
      // background: url("../../assets/images/header.png");
      background-color: #2A2B2A ;

}

.header__logo{
      color: white;
      text-align: center;
      font-size: 1.5rem; 
}

.header__profile{
      display: flex;
      justify-content: center;
}

.profile{
      display: flex;
}

.profile__user{
      display: flex;
      flex-direction: column;
}