.farm{
      display: flex;
      justify-content: center;
      align-items: center;
      // background: url("../../assets/images/farm-background.png") no-repeat center;
      // background-size: cover;
      background-color: #619479;
      // background-color: bisque;
      width: 60%;
}